@font-face{
  font-family:Poppins-Bold;
  src:url('../app/fonts/Poppins-Bold.ttf');
}
@font-face{
  font-family:Poppins-Light;
  src:url('../app/fonts/Poppins-Light.ttf');
}
body{
  padding: 0px;
  margin: 0px;
  font-family:Poppins-Light !important;
  font-size: 16px !important;
}
h1, h2, h3, h4 { 
  font-family:Poppins-Bold !important;
 }
 p{
  font-family:Poppins-Light !important;
 }
ul{
  padding: 0px !important;
  margin: 0px !important;
}
li{
  list-style-type: none;
}
img{
  height: auto;
}
a{
  text-decoration: none !important;
}
header{
  position: relative;
}
.further-down-section-middle img{
  width: 100%;
}
.Strengthen-Your-Cyber-Defenses{
  position: absolute;
  top: 62px;
  width: 600px;
  top: 50%;
  left: 26%;
  transform: translate(-50%, -50%);
}
.mi-image-last-cont img{
  width: 70%; 
  margin-top: 20px;
}
.Strengthen-Your-Cyber-Defenses h4{
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  width: 65%;
}
.Strengthen-Your-Cyber-Defenses p{
  color: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 70%;
  font-size: 28px;
}
.about-bannner-contact.Thank.you.for{
  position: absolute;
  top: 50%;
  left: 50%;
}
footer{
  background: #efefef;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}
.navbar-main-frame{
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 9;
}
.navbar-menu{
  display: flex;
  width: 100%;
  margin-top: 30px;
}
.logo-frame-header{
  width: 17%;
}
.header-menubar-middle{
  width: 55%;
}
.header-menubar-right{
  width: 28%;
  text-align: right;
}
.header-menubar-middle ul{
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
}
.header-menubar-middle li{
  margin-right: 30px;
}
.header-menubar-middle li a{
  font-size: 20px;
    color: #fff;
    padding: 10px 0px;
}
.header-menubar-middle li a:hover{
  color:#eb5e26
}
.header-menubar-right a{
  color: #fff;
  text-transform: uppercase;
  border: 1.3px solid #eb5e26;
  padding: 10px 20px;
  border-radius: 30px;
  display: inline-block;
  margin-top: 10px;
}
.header-menubar-right a:hover{
  background: #eb5e26;
  color: #fff;
}
.footer-right-img{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 40%;
  overflow: hidden;
  height: 100%;
}
.footer-right-img img{
  width: 100%;
  height: auto;
}
.footer-middle{
  display: flex;
}
.footer-middle .footer-left{
  width: 16%;
}
.footer-middle .footer-left img{
  width: 130px;
  height: auto;
}
.footer-middle .footer-left:nth-child(1){
  width: 23%;
}
.footer-left ul li{
  margin-bottom: 20px;
}
.footer-left ul li a{
  color: #000;
  font-family: Poppins-Light !important;
  text-transform: capitalize;
}
.footer-left ul li a:hover{
  color: #eb5e26;
  font-family: Poppins-Bold !important;
}
.footer-left ul li{
  color: #000;
  font-family: Poppins-Bold !important;
  text-transform: uppercase;
}
.testimonial-frame{
  padding: 70px 0px;
}
.testimonial-frame-middle{
  display: flex;  
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.testimonial-frame-left{
  width: 100%;
}
.testimonial-frame-left img{
 width: 100px;
 margin-bottom: 20px;
}
.sob-test h4{
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: left;
}
.sob-test p{
  font-size: 15px;
  margin-bottom: 0px;  
  text-align: left;
}
.cder-ca-slider.home-tston .carousel .control-dots .dot{
  display: none !important;
}
.testimonial-frame-right{
  width: 100%;
  padding-left: 0%;
}
.testimonial-frame-right p{
  line-height: 26px;
  margin-bottom: 0px;
  text-align: left;
}
.Ignite-Cybersecurity-frame {
 position: relative;  
}
.Ignite-Cybersecurity-frame .container{
  
 }
.Ignite-Cybersecurity-frame-img img{
  width: 100%;
}
.Ignite-Cybersecurity-frame-cont{
  position: absolute;
  top: 62px;
  width: 600px;
  top: 50%;
  left: 26%;
  transform: translate(-50%, -50%);
}
.ho-heading{
  font-size: 36px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.br{
  display: block;
}
.Ignite-Cybersecurity-frame-cont p{
  color: #fff;
  margin-top: 50px;
  margin-bottom: 0px;
}
.Ignite-Cybersecurity-frame-cont p a{
  background: #eb5e26;
    color: #fff;
    text-transform: uppercase;
    padding: 11px 30px;
    display: inline-block;  
    margin-top: 10px;
    transition: transform .2s;
}
.Ignite-Cybersecurity-frame-cont p a:hover{
  transform: scale(1.1);
  border-radius: 5px;
}
.Managed-Detection-frame{
  background: #000;
  padding: 80px 0px;
}
.Managed-Detection-frame-middle{
  display: flex;
  margin: 60px 0px;
}
.Managed-Detection-frame-middle-left{
  width: 50%;
  padding-right: 10%; 
}
.Managed-Detection-frame-middle-left h5{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}
.Managed-Detection-frame-middle-left p{
  color:#fff;
}
.know-more a{
    background: #eb5e26;
    text-transform: uppercase;
    color: #fff;
    padding: 7px 15px;
    display: inline-block;
    font-size: 14px;
    transition: transform .2s;
}  
.know-more a:hover{
  transform: scale(1.1); 
  border-radius: 5px;
}
.Excellence-in-Three-Steps-top{
  display: flex;
}
.Excellence-in-Three-Steps-top-left{
  width: 25%;
}
.about-bannner-contact.Thank.you.for h3 {
  text-align: center;
  font-size: 30px; 
  text-transform: capitalize;
}
.Excellence-in-Three-Steps-top-left h3{
  color: #000;
}
.Excellence-in-Three-Steps-top-right{
  width: 70%;
  margin-left: 5%;
}
.Excellence-in-Three-Steps-top-right p{
    font-size: 20px;
    line-height: 32px;
}
.Eliminate-Complexity-main{
  display: flex;
  margin: 60px 0px;
}
.Eliminate-Complexity-main-left{
  width: 35%;
  padding-right: 5%;
}
.Eliminate-Complexity-main-left:last-child{
  
}
.Eliminate-Complexity-main-left h2{
    color: #eb5e26;
    font-weight: bold;
    font-size: 36px;
}
.Eliminate-Complexity-main-left h4{
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    width: 45%;
    margin-bottom: 20px;
}
.Excellence-in-Three-Steps{
  padding: 80px 0px;
}

.Ignite-Cybersecurity-frame.Eight-Framework{
  
}
.Ignite-Cybersecurity-frame.Eight-Framework ul{
  margin: 20px 0px !important;
  margin-bottom: 40px !important;
}
.Ignite-Cybersecurity-frame.Eight-Framework ul li{
    color: #fff;
    position: relative;
    margin-bottom: 10px;
    margin-left: 25px !important;
    font-size: 14px;
}
.Ignite-Cybersecurity-frame.Eight-Framework ul li:before {
    color: #eb5e26;
    content: "■";
    display: inline-block;
    font-weight: 700;
    margin-left: -25px;
    position: absolute;
    width: 1em;
    font-size: 22px;
    top: -7px;
}
.Ignite-Cybersecurity-frame.Eight-Framework .Ignite-Cybersecurity-frame-cont{
  left: 70%;
  width: 680px;
}
.Ignite-Cybersecurity-frame.Eight-Framework .Ignite-Cybersecurity-frame-cont p{
  margin-top: 10px;
}
.Security-Posture-frame{
    background: #efefef;
    padding: 80px 0px;
}
.Security-Posture-frame-top{
  display: flex;
}
.Security-Posture-frame-top-left{
  width: 50%;
}
.Security-Posture-frame-top-left h4{
  font-size: 36px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  width: 80%;
}
.Security-Posture-frame-top-right{
  width: 50%;
}
.Security-Posture-frame-top-right p{
  font-size: 20px;
  width: 80%;
}
.Security-Posture-frame-bottom ul{
  display: flex;
  flex-wrap: wrap;
  margin-top: 85px !important;
  width: 90%; 
} 
.Security-Posture-frame-bottom ul li{
  width: 33%;
  margin-bottom: 40px;
  padding-right: 15%;
}
.Security-Posture-frame-bottom ul li img{
    width: 55px;
    margin-bottom: 16px;
}
.Security-Posture-frame-bottom ul li h4{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

.Empowering-Organizations-top-h{
  padding: 80px 0px;
  position: relative;  
  overflow: hidden;
}
.Empowering-Organizations-top-h-middle h3{
  font-size: 36px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
.Empowering-Organizations-top-h-middle p{
  width: 55%;
  margin: 45px 0px;
}
.Empowering-right-img{
  position: absolute;
  right: 0px;
  bottom: -258px;
  height: 100%;
  overflow: hidden;
  width: 70%;
}
.Empowering-right-img img{
  width: 80%;
  float: right;
}
.header-video video{
  width: 100%;
}


/* about us page Start*/
.Inner-page-banner-frame img{
  width: 100%; 
}
.About-us-page .Empowering-right-img {
  bottom: 0px;
  width: 62%;    
}
.About-us-page .Empowering-right-img img{
  width: 100%;
  position: absolute;
  bottom: 0px;          
}
.About-us-page .Empowering-Organizations-top-h-middle p {
  width: 40%;
} 
.About-us-page .Empowering-Organizations-top-h{
  padding-bottom: 0px;
}
.About-us-page .header-about{
  font-weight: normal;
  text-transform: capitalize;
  font-size: 34px;
  margin-top: 5px;
  font-family: Poppins-Light !important;
}
.Partners-about-sect{
  background: #0a0e0f;
  padding: 60px 0px;
}
.Partners-about-sect h3{
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.Partners-about-sect-middle{
  display: flex;
  align-items: center;
  padding-bottom: 65px;
  border-bottom: 1px solid #707070;
  margin-bottom: 50px;
}
.Partners-about-sect-middle-left{
  width: 20%;
  margin-right: 6%;
}
.Partners-about-sect-middle-left img{
  width: 100%;
}
.Partners-about-sect-middle-right{
  width: 74%;
}
.Partners-about-sect-middle-right  h4{
  color: #fff;
  margin-bottom: 30px;
  margin-top: 0px;
}
.Partners-about-sect-middle-right  h4 span{
    display: block;
    font-weight: normal;
    font-size: 18px;
    margin-top: 8px;
}
.Partners-about-sect-middle-right  p{
  color: #fff;
  margin-bottom: 0px;
}
.Partners-about-sect-middle:nth-child(3){
  margin-bottom: 0px;
  border-bottom: 0px solid #707070;
  padding-bottom: 40px;
}
.team-section-about-page{
  padding: 70px 0px;
}
.team-section-about-page h3{
  font-size: 36px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.team-section-middle{
  display: flex;
  justify-content: space-between; 
  margin-top: 60px;
}
.team-section-middle-inner{
  width: 30%;
}
.team-section-middle-inner img{
  width: 75%;
}
.team-section-middle-inner h4{
  font-weight: bold;
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 0px;
}
.team-section-middle-inner h5{
  margin-top: 10px;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 35px;
}
.team-section-middle:last-child{
  justify-content: left;
}
.team-section-middle:last-child .team-section-middle-inner{
  margin-right: 5%;     
}
.br.Commitment_Success{
  font-weight: normal;
  font-size: 30px;
  margin-top: 5px;
  text-transform: initial;
  font-family: Poppins-Light !important;
}
.Unique-Approach-Simple-frame{
  padding: 70px 0px;
}
.Unique-Approach-heading h3{
  font-size: 36px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
.Unique-Approach-heading h3 span{
    text-transform: initial;
    font-weight: normal;
    display: block;
    margin-top: 5px;
    font-size: 36px;
    font-family: Poppins-Light !important;
}
.Unique-Approach-Simple-middle{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.Unique-Approach-Simple-middle-left{
  width: 30%;
}
.Unique-Approach-Simple-middle-left h4{
  font-weight: bold;
  font-size: 18px;
  position: relative;
}
.Unique-Approach-Simple-middle-left h4::after{
    content: '';
    border-bottom: 3px solid #eb5e26;
    width: 120px;
    height: 10px;
    position: absolute;
    left: 0px;
    bottom: -15px;
}
.Unique-Approach-Simple-middle-left ul{
  padding: 0px !important;
  margin-top: 50px !important;
}
.Unique-Approach-Simple-middle-left ul li{
  position: relative;
  margin-bottom: 25px;
}
.Unique-Approach-Simple-middle-left ul li:before {
  color: #eb5e26;
    content: ".";
    display: inline-block;
    font-weight: 700;
    margin-left: -8px;
    position: absolute;
    width: 1em;
    font-size: 22px;
    top: -12px;
}
.Our-Values-middle-section-main{
  padding: 80px 0px;
  background: #efefef;
}
.Our-Values-middle-section-main-middle{
  display: flex;
  align-items: center;
}
.Our-Values-middle-section-main-middle-left{
  width: 40%;
}
.Our-Values-middle-section-main-middle-right{
  width: 50%;
}
.Our-Values-middle-section-main-middle-left img{
  width: 100px;
}
.Our-Values-middle-section-main-middle-left h4{
  font-size: 36px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}
.Our-Values-middle-section-main-middle-left h5{
  font-size: 24px;
  line-height: 35px;
}
.Our-Values-middle-section-main-middle-right ul{

}
.Our-Values-middle-section-main-middle-right ul li{
  position: relative;
  margin-bottom: 20px;
}
.Our-Values-middle-section-main-middle-right ul li span{
  font-family: Poppins-Bold !important;
}
.Our-Values-middle-section-main-middle-right ul li:before {
  color: #eb5e26;
  content: "■";
  display: inline-block;
  font-weight: 700;
  margin-left: -25px;
  position: absolute;
  width: 1em;
  font-size: 22px;
  top: -7px;
}
.arrow-top-top{
  position: absolute;
  right: 28%;
  background: #eb5e26;
  border: 0px;
  color: #fff;
  padding: 15px 20px;
  bottom: 75px;
  text-transform: capitalize;
}
.container.Strengthen-cont-main .Strengthen-Your-Cyber-Defenses {
  position: absolute;   
  bottom: 0px;
  width: 600px;
  top: auto;
  left: auto;
  transform: initial;
}
.arrow-top-top img{
  width: 15px;
}
.Callum_Golding_frame_about{
  padding: 70px 0px;
}
.Callum_Golding_frame_about-middle{
  display: flex;
  justify-content: space-between;
}
.Callum_Golding_frame_about-middle-left{
  width: 43%;
}
.Callum_Golding_frame_about-middle-left h3{
  font-size: 36px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.Callum_Golding_frame_about-middle-left h5{
  margin-bottom: 60px;
}
.Callum_Golding_frame_about-middle-left h5 span{
  font-weight: bold;
}
.Callum_Golding_frame_about-middle-left ul{
  display: flex;
  justify-content: space-between;
}
.Callum_Golding_frame_about-middle-left ul li{
 width: 46%;
}
.Callum_Golding_frame_about-middle-left ul li img{
  width: 100%;
}
.Callum_Golding_frame_about-middle-left ul li h4{
  font-weight: bold;
  margin-top: 15px;
  font-size: 18px;
}
.Callum_Golding_frame_about-middle-right{
  width: 47%;
}
.Unlocking-the-Full-Potential{
  padding: 80px 0px;
  background: #efefef;
}
.Unlocking-the-Full-Potential-middle{
  display: flex;
  justify-content: space-between;
}
.Unlocking-the-Full-Potential-middle-left{
  width: 45%;
}
.Unlocking-the-Full-Potential-middle-left img{
  width: 120px;
  margin-bottom: 20px;
}
.Unlocking-the-Full-Potential-middle-left h3{
  font-size: 36px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
.Unlocking-the-Full-Potential-middle-left h5{
  font-weight: normal;
  font-size: 26px;
}
.Unlocking-the-Full-Potential-middle-left p{
  margin-top: 30px;
}
.about-bannner-contact{
  position: absolute;
     top: 55%;
    left: 15%;
    transform: translate(-50%, -50%);
}
.about-bannner-contact.Modern-SOC-main{
  left: 22%;
}
.about-bannner-contact h3{
  font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    margin: 0px;
}
.Partners-about-sect-middle-right h4 span{
  font-family: Poppins-Light !important;
  font-size: 20px;
}
.Empowering-Organizations-top-h-middle{
  margin-bottom: 80px;
}


/* MDR page start */
.Strengthen-Your-Cyber-Defenses.mdr-page h4{
  text-transform: none; 
  font-size: 72px;
  margin-top: 200px; 
}
.Strengthen-Your-Cyber-Defenses.mdr-page h4 span{
  display: block;
  color: #eb5e26;
}
.Detection-Response-page{
  background: #2b828a;
  color: #fff;
  padding: 60px 0px; 
  margin-top: -10px;
}
.Detection-Response-page-middle{
  display: flex;
  justify-content: space-between;
}
.Detection-Response-page-middle-left{
  width: 48%;
}
.Detection-Response-page-middle-left p{
  margin: 0px;
}
.application-guarantees-frame{
  background: #000;
  padding: 50px 0px;
}
.application-guarantees-frame-middle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.application-guarantees-left{
  width: 50%;
}
.application-guarantees-left h4{
  color: #fff;
  font-size: 27px;
  line-height: 44px;
  margin-bottom: 30px;
}
.application-guarantees-left h4 span{

 display: block;

}
.application-guarantees-left p{
  color: #fff;
  margin: 0px;
}
.application-guarantees-right{
  width: 45%;
}
.application-guarantees-right img{
  width: 70%;
}
.Does-it-Work-frame{
  padding: 40px 0px;
  background: #efefef;
}
.Does-it-Work-frame-middle{
  display: flex;
  justify-content: space-between;
}
.Does-it-Work-frame-middle-left{
  width: 40%;
}
.Does-it-Work-frame-middle-right{
  width: 45%;
}
.Does-it-Work-frame-middle-left h2{
  font-size: 140px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 130px;
}
.Does-it-Work-frame-middle-left h3{
  font-size: 48px;
}
.Does-it-Work-frame-middle-left h3 span{
  color: #eb5e26;
}
.Does-it-Work-frame-middle-left h6{
  font-size: 30px;
  margin: 20px 0px;
}
.Continuous-slider-main{
  text-align: left;
  width: 65%;
}
.carousel .slide .Continuous-slider-main img{
  width: 100px;
  margin-bottom: 25px;
  margin-top: 15px;
}
.Continuous-slider-main h4{
  font-size: 22px;
}
.Continuous-slider-main p{
  font-size: 20px;
  margin-top: 20px;
}
.cder-ca-slider .carousel-status{
  display: none;
}
.cder-ca-slider .carousel .control-dots{
  bottom: -60px;
  text-align: left;
}
.cder-ca-slider .carousel.carousel-slider{
  overflow: initial;
}
.cder-ca-slider .carousel .control-dots .dot {
  transition: opacity .25s ease-in;
  opacity: 1;
  filter: alpha(opacity=30);
  box-shadow: inherit;
  background: #acacac;
  border-radius: 0px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}
.cder-ca-slide .react-multiple-carousel__arrow{
  background: #eb5e26;
  border-radius: 0px;
}
.cder-ca-slide .react-multiple-carousel__arrow--left{
  left: auto;
  right: 110px;
  bottom: 0px;
}
.react-multiple-carousel__arrow--right{
  left: auto;
  right: 0px;
  bottom: 0px;
}
.Testimonials-sub-m{
  font-size: 16px;
  color: #121212;
  line-height: 1.3;
  padding: 7px 15px 7px;
  font-weight: 400;
  border-radius: 25px;
  border: 1px solid #6b6b6b;
  display: inline-block;
  margin-bottom: 17px;
  font-family: Poppins-Bold !important;
}
.testimonial-frame-heading-main.n{
 text-align: center;
}
.sob-test{ 
  margin-bottom: 50px;
}
.cder-ca-slider .carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover{
  background: #eb5e26;
}
.cder-ca-slider .carousel.carousel-slider .control-arrow {
  background: #eb5e26 !important;
    opacity: 1;
    height: 32px;
    width: 32px;
    bottom: -62px;
    position: absolute;
    top: auto;
}
.cder-ca-slider .carousel.carousel-slider .control-arrow.control-prev {
  left: auto;
    right: 50px;
}
.cder-ca-slider .carousel.carousel-slider .control-arrow.control-prev:before{
  position: relative;
  top: -8px;
  left: -2px;
  background: url(../app/img/left-arrow.png);
  border: 0px !important;
    background-size: 12px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-position: 1px 11px;
}
.cder-ca-slider .carousel.carousel-slider .control-arrow.control-next:before{
  position: relative;
  top: -8px;
  left: 1px;
  border: 0px !important;
  background: url(../app/img/left-arrow2.png);
    background-size: 12px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-position: 1px 11px;
}
.cder-ca-slider .control-prev.control-disabled:before{
  display: inline-block;
  content: "";
  margin: 0px 5px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.cder-ca-slider .carousel .control-disabled.control-arrow{
  display: initial;
  background: #ccc !IMPORTANT;
}
.Hunting-Rules-frame-number{
  padding: 45px 0px;
  background: #000;
}
.Hunting-Rules-frame-number-middle-cont p{
  color: #fff;
}
.Hunting-Rules-frame-number-middle-cont-number{
  display: flex;
  justify-content: space-between;
}
.Hunting-Rules-frame-number-middle-cont-number-left{
  width: 30%;
}
.Hunting-Rules-frame-number-middle-cont-number-left p{
 font-size: 20px;
 color: #fff;
}
.Hunting-Rules-frame-number-middle-cont-number-left p span{
  display: block;
}
.Hunting-Rules-frame-number-middle-cont-number-left h3{
  color: #eb5e26;
  font-size: 70px;
  margin-top: 30px;
}
.Benefits-of-mdr-frame{
  padding: 50px 0px;
}
.Benefits-of-mdr-frame-middle-top h2{
  color: #eb5e26;
  font-size: 60px;
}
.Benefits-of-mdr-frame-middle-top h2 span{
    color: #000;
    font-size: 34px;
}
.Benefits-of-mdr-frame-middle-top h6{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.Benefits-of-mdr-frame-middle-bottom{
  display: flex;
  flex-wrap: wrap;
}
.Benefits-of-mdr-frame-middle-bottom-left{
  width: 27%;
  margin-right: 6%;
  margin-top: 60px;
}
.Benefits-of-mdr-frame-middle-bottom-left img{
  width: 85px;
  margin-bottom: 25px;
}
.Benefits-of-mdr-frame-middle-bottom-left h4{
  font-size: 18px;
  margin-bottom: 20px;
}
.Our-MDR-process{
  background: #000;
}
.Our-MDR-process-middle-left h3{
  color: #eb5e26;
  font-size: 36px;
}
.Our-MDR-process-middle-left h3 span{
  display: block;
}
.Our-MDR-process-middle-left h6{
  color: #fff;
  font-size: 22px;
}
.Our-MDR-process-middle-left h6 span{
  display: block;
}
.Our-MDR-process-middle{
  display: flex;
}
.Our-MDR-process-middle-right img{
  width: 70%;
  margin: 0 auto;
  display: table;  
}
.Our-MDR-process-two{
  background: url(../app/img/Process-2.png);
  background-repeat: no-repeat;
    background-position: left bottom;
    padding: 90px 0px;
    background-size: 53%;
}
.Our-MDR-process-middle-left{
  width: 25%;
}
.Our-MDR-process-middle-right{
  width: 75%;
}
.header-menubar-middle li .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 0px;  
}
.header-menubar-middle li a{
  position: relative;
  display: inline-block;
}
.header-menubar-middle li:hover .dropdown-content {
  display: block;
  background: #eb5e26;
  padding: 20px 10px;
  border-radius: 10px;
  margin-top: 0px;
}
.header-menubar-middle li .dropdown-content a{ 
    display: block;
    font-size: 15px;
    color: #fff;
    padding: 5px 0px;
    transition: all .3s ease-in-out;
}
.header-menubar-middle li .dropdown-content a:hover{
  padding-left: 5px;
   
}
.header-menubar-middle li .dropdown-content.Services-menu a:hover{
  background: linear-gradient(267.06deg,rgba(35,46,65,0),#232e41)!important;
    color: #fff;
    padding-left: 0.5rem!important; 
    border-left: 3px solid #2c4467;
}
.header-menubar-middle li .dropdown-content::after {
  content: '';
  position: absolute;
  left: 40px;
  top: -12px;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 18px solid #eb5e26;
  clear: both;
}
.About-us-page.modernsoc-page-new .about-bannner-contact h3{
  text-align: left;
  font-family:Poppins-Bold !important;
  font-size: 60px; 
  text-transform: capitalize;
}
.About-us-page.modernsoc-page-new .Detection-Response-page {
  background: #eb5e26;
}
.About-us-page.modernsoc-page-new .Detection-Response-page-middle .Detection-Response-page-middle-left:nth-child(1) p{
  font-size: 28px;
  width: 55%;
}
.classic-approach-yielded-frame{
  background: #000;
  padding-top: 50px;
  padding-bottom: 40px;
}
.classic-approach-yielded-frame .Eliminate-Complexity-main-left h4{
  color: #eb5e26;
  font-size: 20px;
}
.classic-approach-yielded-frame .Eliminate-Complexity-main-left p{
  color: #fff;
  width: 75%;
  margin-bottom: 30px;
}
.classic-approach-yielded-frame .Eliminate-Complexity-main{
  margin: 0px 0px;
}
.modernsoc-page-new .Benefits-of-mdr-frame{
  background: #000;
  padding-bottom: 80px;
}
.modernsoc-page-new .Benefits-of-mdr-frame-middle-top h6{
  color: #fff;
  font-size: 20px;
}
.modernsoc-page-new .Benefits-of-mdr-frame-middle-bottom-left h4{
  color: #eb5e26;
}
.modernsoc-page-new .Benefits-of-mdr-frame-middle-bottom-left p{
  color: #fff;
}
.Transforming-Cybersecurity-Investigations{
  padding: 50px 0px;
}
.Transforming-Cybersecurity-Investigations-top h2{
  font-size: 60px;
  color: #eb5e26;
}
.Transforming-Cybersecurity-Investigations-top h3{
  font-size: 28px;
  margin-top: 15px;
}
.Transforming-Cybersecurity-Investigations-top p{
  margin-top: 40px;
}
.Transforming-Cybersecurity-Investigations-top h6{
  font-size: 18px;
  margin-bottom: 60px;
}
.Transforming-Cybersecurity-Investigations-middle ul{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-bottom: 50px !important;
}
.Transforming-Cybersecurity-Investigations-middle ul li{
  width: 16%;
}
.Transforming-Cybersecurity-Investigations-middle ul li img{
  width: 80px;
}
.Transforming-Cybersecurity-Investigations-middle ul li p{
  margin-top: 25px;
}
.Human-Centric-Security-frame{
  padding: 60px 0px;
  background: #efefef;
}
.Human-Centric-Security-frame-top{
  display: flex;
  align-items: center;
}
.Human-Centric-Security-frame-top-left{
  width: 40%;
}
.Human-Centric-Security-frame-top-right{
  width: 40%;
  padding-left: 10%;
}
.Human-Centric-Security-frame-top-right p{
  margin: 0px;
  margin-top: 100px;
}
.Human-Centric-Security-frame-top-left h3{
  font-size: 74px;
}
.Human-Centric-Security-frame-top-left h3 span{
  color: #eb5e26;
}
.Human-Centric-Security-frame-top-left h5{
  font-size: 45px;
}
.Human-Centric-Security-frame-top-left h5 span{
  color: #eb5e26;
}
.Inspired-by-Various-Disciplines{
  margin-top: 45px;
  display: flex;
}
.Inspired-by-Various-Disciplines-left{
width: 24%;
margin-right: 90px;
}
.Inspired-by-Various-Disciplines-right{
  width: 24%;
}
.Inspired-by-Various-Disciplines h3{
  color: #eb5e26;
  font-size: 18px;
  margin-bottom: 22px;
  margin-top: 30px;
}
.Inspired-by-Various-Disciplines p{
  margin-bottom: 20px;
}
.Inspired-by-Various-Disciplines p span{
  font-family: Poppins-Bold !important;
}
.Human-Centric-Security-frame{
  position: relative;
}
.Eliminate-img{
  
}
.Eliminate-img img{
  position: absolute;
  width: 65%;
  right: 0px;
  bottom: 0px;
}
.Mobile_menu{
  display: none;
}
.header-video.mobile{
  display: none;
}
.Ignite-Cybersecurity-frame-img img.mobile{
 display: none;
}
.testimonial-frame-heading-main h3{
  font-size: 32px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}
.testimonial-frame{
  padding-top: 70px;
}
.dropdown-content-Services-menu-middle{
  display: flex;
  justify-content: space-between;
} 
.dropdown-content-Services-menu-middle-left-top h4{
  font-size: 18px;
    color: #fff;
}
.dropdown-content-Services-menu-middle-left-top p{
  color: #fff;
  font-size: 14px;
}
.dropdown-content-Services-menu-middle-left-top{
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid;
  border-image: linear-gradient(45deg,#fff,rgba(38,208,124,0)) 1;
}
.dropdown-content-Services-menu-middle-left-bottom{
  margin-top: 20px;
}
.dropdown-content-Services-menu-middle-left{
  width: 47%;
}
.header-menubar-middle li:hover .dropdown-content.Services-menu{
  width: 700px;
  padding-top: 30px;
}
.about-bannner-contact.Contact-Us{
  transform: inherit;
  left: inherit;
  top: inherit;
  bottom: 25%;
  width: 100%;
}
.map-sect-contactus-page iframe{
  width: 100%;
  height: 550px;
}
.contact-us-middle-main-m{
  display: flex;
  justify-content: space-between;
}
.contact-us-middle-main-m-left{
  width: 35%;
  padding-top: 20px;
}
.contact-us-middle-main-m-right{
  width: 50%;
}
.contact-us-middle-main-m-left-con{
  width: 100%;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}
.contact-us-middle-main-m-left-con img{
  width: 50px;
  height: 50px;
  margin: 0px;
  
}
.contact-us-middle-main-m-left-con p{
  margin: 0px;
  margin-left: 30px;
}
.contact-us-middle-main-m-left-con p a{
  color: #000;
}
.contact-us-middle-main{
  padding: 70px 0px;
}
.contact-us-page-main-from .form-control{
  border: 1px solid #000000;
  border-radius: 0px;
  background: #fff;
  height: 45px;
  margin-bottom: 22px;
}
.contact-us-page-main-from .form-group span{
  margin-bottom: 5px;
    display: block;
    font-size: 14px;
}
.contact-us-page-main-from textarea.form-control{
  height: 130px;
}
.contact-us-page-main-from .btn.btn-default{
  background: #ea5e26;
  border-radius: 0px;
  color: #fff;
  padding: 8px 30px;
  display: table;
  margin: 0 auto;
  margin-top: 15px;
}
.contact-us-middle-main-m-right-middle{
  background: #efefef;
  padding: 40px 30px;
  border-radius: 6px;
}

@media all and (min-width:120px) and (max-width:670px){
  .contact-us-middle-main-m {
    display: inline-block;
    width: 100%;
}
.contact-us-middle-main-m-left {
  width: 100%; 
  padding-top: 0px;
}
.contact-us-middle-main-m-right {
  width: 100%;
}
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .Security-Posture-frame-bottom ul li img {
    width: 45px;
  }
  .Ignite-Cybersecurity-frame-img img.desktop{
    display: none;
  }
  .Ignite-Cybersecurity-frame-img img.mobile{
    display: block;
   }
  .header-video.desktop{
   display: none;
  }
  .header-video.mobile{
    display: block;
  }
  /*menu */
  .bm-menu-wrap {
    background: #08313aad;
    left: 0;
    top: 0;
    width: 100%!important;
    z-index: 99999999 !important;
}
.bm-menu-wrap .bm-menu {
    background: #fff;
    width: 70%!important;
    position: relative;
}
.mobilemenu-new .accordion__button{
    background-color: #fff;
    position: relative;
}
.bm-menu-wrap .bm-cross-button {
    height: 100%!important;
    width: 15%!important;
}
.bm-cross {
    background: #fff;
}
.dropdown.mobilemenu-new .accordion__button:after {
    border-bottom: 2px solid;
    border-right: 2px solid;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: 12px;
    position: absolute;
    right: 10px;
    top: 23px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 10px;
}
.dropdown.mobilemenu-new .accordion__button:before {
    content: inherit;
}
.bm-overlay {
    background: transparent!important;
    right: 0;
    width: 0!important;
}
.bm-burger-button {
    height: 30px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 36px;
}
.bm-burger-bars {
    background-color: #fff!important;
    border-radius: 1px;
    display: block;
    height: 3px!important;
    margin-bottom: 5px;
    opacity: 1!important;
    position: relative!important;
    top: 0!important;
    width: 28px;
}
.dropdown.mobilemenu-new .accordion__item:nth-child(1) .accordion__button::after {
    content: inherit;
}
.dropdown.mobilemenu-new .accordion__item:nth-child(4) .accordion__button::after {
    content: inherit;
}
.dropdown.mobilemenu-new .accordion__item:nth-child(5) .accordion__button::after {
    content: inherit;
}
.dropdown.mobilemenu-new .accordion__item:nth-child(6) .accordion__button::after {
    content: inherit;
}
.dropdown.mobilemenu-new .Menu-underLink li a {
    color: #eb5e26!important;
    display: inline-block;
    padding: 8px 0;
}
.dropdown.mobilemenu-new .Menu-underLink li{
    list-style-type: none;
}
.img-responsive_all{width: 100%;}
.col-md-12.mobile {
display: inherit;
}
.logo img {
width: 120px;
}
.Mobile_menu{display: initial;float: right;
}
.row.desktop{display: none;}
.Mobile_menu .icon-bar {
background-color: #888;
display: block;
width: 22px;
height: 2px;
border-radius: 1px;

}
.Mobile_menu .icon-bar+.icon-bar {
margin-top: 4px;
}
.Mobile_menu .button{
background-color: #ddd;
padding: 9px 10px;
width: 42px;
float: right;
}

.Mobile_menu .dropdown{    position: relative;}
.Mobile_menu .button ~ ul{    position: absolute;
left: 0px;
top: 0px;
z-index: 99999;
background: #fff;
width: 100%;
padding: 5px 20px;
border-top: 1px solid #ccc;
margin-top:0px;}

.Mobile_menu .button ~ ul li{    list-style-type: none;}
.Mobile_menu .button ~ ul li a{  
text-decoration: none !important;
font-size: 17px; 
line-height: 28px;
font-family: 'Raleway', sans-serif;
border-bottom: 1px solid #ccccccb8;
color: #000;
padding-top: 5px;
padding-bottom: 5px;
position: relative;
display: block;
}

.react-tabs__tab{
font-size: 15px;
padding: 10px 4px;
width: 50%;
text-align: center;
}
  /*menu end */
  .Mobile_menu{
    display: block;
    width: 50%;
  }
  .navbar-main-frame{
    position: relative;
    background: #022a3e;
    padding: 12px 0px;
  }
  .navbar-menu{
    margin-top: 0px;
  }
  .logo-frame-header img{
    width: 40%;
    margin-left: 7px;
  }
  .header-menubar-middle{
    display: none;
  }
.footer-middle {
  display: inline-block;
  width: 100%;
}
.footer-middle .footer-left:nth-child(1) {
  width: 100%;
}
.footer-middle .footer-left {
  width: 100%;
}
.footer-right-img{
  display: none;
}
.arrow-top-top {
  position: absolute;
  right: 40px;
  background: #eb5e26;
  border: 0px;
  color: #fff;
  padding: 10px 16px;
  bottom: 30px;
  text-transform: capitalize;
}
footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
.testimonial-frame-middle {
  display: inline-block;
  width: 100%;
}
.testimonial-frame-left {
  width: 100%;
}
.testimonial-frame-right {
  width: 100%;
  padding-left: 0px;
}
.testimonial-frame-left img {
  width: 45%;
}
.Ignite-Cybersecurity-frame-cont {
  position: relative;
  top: 0px;
  width: 100%;
  top: 0px;
  left: 0px;
  transform: initial;
}
.Ignite-Cybersecurity-frame {
  background: #001930;
}
.Ignite-Cybersecurity-frame-cont p a{
  padding: 5px 10px;
  margin-bottom: 20px;
}
.Managed-Detection-frame-middle {
  display: inline-block;
  margin: 30px 0px;
  width: 100%;
}
.Managed-Detection-frame-middle-left {
  width: 100%;
  padding-right: 0px;
}
.Eliminate-Complexity-main {
  display: inline-block;
  margin: 20px 0px;
  width: 100%;
}
.Eliminate-Complexity-main-left {
  width: 100%;
  padding-right: 0px;
}
.Excellence-in-Three-Steps-top {
  display: inline-block;
  width: 100%;
}
.Excellence-in-Three-Steps-top-left {
  width: 100%;
}
.Excellence-in-Three-Steps-top-right {
  width: 100%;
  margin-left: 0px;
}
.Ignite-Cybersecurity-frame.Eight-Framework .Ignite-Cybersecurity-frame-cont {
  left: 0px;
  width: 100%;
  padding: 15px 0px;
}
.Security-Posture-frame-top {
  display: inline-block;
  width: 100%;
}
.Security-Posture-frame-top-left {
  width: 100%;
}
.Security-Posture-frame-top-right {
  width: 100%;
}
.Security-Posture-frame-bottom ul {
  display: inline-block;
  width: 100% !important;
  margin-top: 30px !important;
  width: 100%;
}
.Security-Posture-frame-bottom ul li {
  width: 100%;
  margin-bottom: 25px;
  padding-right: 0px;
}
.Empowering-right-img{
  display: none;
}
.Empowering-Organizations-top-h {
  padding: 30px 0px;
}
.Empowering-Organizations-top-h-middle p {
  width: 100%;
  margin: 30px 0px;
}
p {
  font-size: 14px;
}
.Empowering-Organizations-top-h-middle h3{
  font-size: 24px;
}
.br {
  display: initial;
}
.Empowering-Organizations-top-h-middle {
  margin-bottom: 30px;
}
.Security-Posture-frame-top-left h4 {
  font-size: 24px;
  width: 100%;
}
.Security-Posture-frame {
  padding: 30px 0px;
}
.Security-Posture-frame-top-right p {
  font-size: 16px;
  width: 100%;
}
.Security-Posture-frame-bottom ul li h4{
  font-size: 14px;
}
.Ignite-Cybersecurity-frame.Eight-Framework{
  background: #000000;
}
.ho-heading {
  font-size: 24px;
}
.Excellence-in-Three-Steps {
  padding: 30px 0px;
}
.Excellence-in-Three-Steps-top-right p {
  font-size: 16px;
  line-height: 28px;
}
.Eliminate-Complexity-main-left h4{
  font-size: 16px;
  width: 100%;
}
.Managed-Detection-frame {
  padding: 30px 0px;
}
.Ignite-Cybersecurity-frame-cont p {
  margin-top: 25px;
}
.Ignite-Cybersecurity-frame-cont{
  margin-top: 20px;
}
.testimonial-frame {
  padding: 30px 0px;
  padding-bottom: 60px;
}
.testimonial-frame-left h4{
  font-size: 18px;
    margin-top: 15px;
}
.Strengthen-Your-Cyber-Defenses {
  width: 70%;
  top: 62%;
  left: 42%;
}
.Strengthen-Your-Cyber-Defenses h4{
  font-size: 28px;
  width: 100%;
}
.Strengthen-Your-Cyber-Defenses p {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 60%;
  font-size: 14px;
}
.know-more a{
  font-size: 12px;
  padding: 5px 10px;
}
.Security-Posture-frame-bottom ul li p{
  width: 80%;
}
.testimonial-frame-right p{
  margin-top: 10px;
}
.header-menubar-right{
  display: none;
}
.logo-frame-header {
  width: 50%;
}
.about-bannner-contact h3 {
  font-size: 30px;
  margin-top: 25px; 
}
.About-us-page .Empowering-Organizations-top-h-middle p {
  width: 100%;
}
.Unlocking-the-Full-Potential-middle {
  display: inline-block;
  width: 100%;
}
.Unlocking-the-Full-Potential-middle-left {
  width: 100%;
}
.Unlocking-the-Full-Potential-middle-left h3 {
  font-size: 24px;
  
}
.Unlocking-the-Full-Potential-middle-left h5 {
  font-size: 20px;
}
.Unlocking-the-Full-Potential-middle-left img {
  width: 85px;
}
.Unlocking-the-Full-Potential {
  padding: 30px 0px;
}
.About-us-page .header-about{
  font-size: 28px;
}
.Callum_Golding_frame_about-middle {
  display: inline-block;
  width: 100%;
}
.Callum_Golding_frame_about-middle-left {
  width: 100%;
}
.Callum_Golding_frame_about-middle-left h3{
  font-size: 24px;
}
.Callum_Golding_frame_about-middle-right {
  width: 100%;
}
.Callum_Golding_frame_about {
  padding: 30px 0px;
}
.Our-Values-middle-section-main-middle {
  display: inline-block;
  width: 100%;
}
.Our-Values-middle-section-main-middle-left {
  width: 100%;
}
.Our-Values-middle-section-main-middle-left img {
  width: 70px;
}
.Our-Values-middle-section-main-middle-left h4 {
  font-size: 24px;
}
.Our-Values-middle-section-main-middle-left h5 {
  font-size: 18px;
  line-height: 28px;
}
.Our-Values-middle-section-main-middle-right {
  width: 100%;
}
.Our-Values-middle-section-main-middle-right ul li:before{
  margin-left: -30px;
  font-size: 15px;
  top: 0px;
}
.Our-Values-middle-section-main {
  padding: 30px 0px;
}
.Unique-Approach-heading h3 {
  font-size: 24px;
}
.Unique-Approach-heading h3 span{
  font-size: 22px;
}
.Unique-Approach-Simple-middle {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
}
.Unique-Approach-Simple-middle-left {
  width: 100%;
}
.Unique-Approach-Simple-frame {
  padding: 30px 0px;
}
.br.Commitment_Success{
  font-size: 22px;
}
.team-section-about-page h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.team-section-middle {
  display: inline-block;
  width: 100%;
  margin-top: 0px;
}
.team-section-middle-inner {
  width: 100%;
}
.team-section-middle-inner h5{
  margin-bottom: 20px;
}
.team-section-about-page {
  padding: 30px 0px;
}
.Partners-about-sect {
  padding: 30px 0px;
}
.Partners-about-sect h3 {
  font-size: 24px;
}
.Partners-about-sect-middle {
  display: inline-block;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.Partners-about-sect-middle-right {
  width: 100%;
}
.Partners-about-sect-middle-right h4{
  margin-bottom: 20px;
  font-size: 16px;
}
.Partners-about-sect-middle-left {
  width: 50%;
  margin-right: 0px;
  margin-bottom: 20px;
} 
.container.Strengthen-cont-main .Strengthen-Your-Cyber-Defenses{
  width: 80%;
  bottom: 10px;
}
.Strengthen-Your-Cyber-Defenses.mdr-page h4 {
  font-size: 32px;
  margin-top: 0px;
}
.Detection-Response-page{
  padding: 30px 0px;
}
.Detection-Response-page-middle {
  display: inline-block;
  width: 100%;
}
.Detection-Response-page-middle-left {
  width: 100%;
  margin-bottom: 20px;
}
.Our-MDR-process-middle {
  display: inline-block;
  width: 100%;
}
.Our-MDR-process-middle-left {
  width: 100%;
}
.Our-MDR-process-middle-left h3{
  font-size: 24px;
}
.Our-MDR-process-middle-left h6{
  font-size: 19px;
}
.Our-MDR-process-middle-left h6 span {
  display: inline;
}
.Our-MDR-process-middle-right {
  width: 100%;
}
.Benefits-of-mdr-frame-middle-top h2{
  font-size: 34px;
}
.Benefits-of-mdr-frame-middle-top h6 {
  font-size: 20px;
}
.Benefits-of-mdr-frame {
  padding: 30px 0px;
}
.Benefits-of-mdr-frame-middle-bottom-left {
  width: 100%;
  margin-right: 0px;
  margin-top: 10px;
}
.Benefits-of-mdr-frame-middle-bottom-left img {
  width: 85px;
  margin-bottom: 10px;
} 
.Hunting-Rules-frame-number {
  padding: 30px 0px;
}
.Hunting-Rules-frame-number-middle-cont-number {
  display: inline-block;
  width: 100%;
}
.Hunting-Rules-frame-number-middle-cont-number-left {
  width: 100%;
}
.Hunting-Rules-frame-number-middle-cont-number-left h3 {
  font-size: 48px;
  margin-top: 20px;
}
.Does-it-Work-frame-middle {
  display: inline-block;
  width: 100%;
}
.Does-it-Work-frame-middle-left {
  width: 100%;
}
.Does-it-Work-frame-middle-right {
  width: 100%;
}
.Does-it-Work-frame-middle-left h2{
  line-height: 55px;
  font-size: 60px;
}
.Does-it-Work-frame-middle-left h3 {
  font-size: 30px;
}
.Does-it-Work-frame-middle-left h6 {
  font-size: 22px;
  margin: 20px 0px;
}
.Continuous-slider-main {
  text-align: left;
  width: 100%;
}
.carousel .slide .Continuous-slider-main img {
  width: 60px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.Continuous-slider-main h4 {
  font-size: 18px;
}
.Continuous-slider-main p {
  font-size: 16px;
  margin-top: 10px;
} 
.application-guarantees-frame {
  padding: 30px 0px;
}
.application-guarantees-frame-middle {
  display: inline-block;
  width: 100%;
}
.application-guarantees-left {
  width: 100%;
}
.application-guarantees-left h4 {
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 20px;
}
.application-guarantees-left h4 span {
  display: initial;
}
.application-guarantees-right {
  width: 100%;
  margin-top: 20px;
}
.application-guarantees-right img {
  width: 100%;
}
.About-us-page.modernsoc-page-new .about-bannner-contact h3{
  font-size: 35px;
}
.About-us-page.modernsoc-page-new .Detection-Response-page-middle .Detection-Response-page-middle-left:nth-child(1) p {
  font-size: 22px;
  width: 100%;
}
.classic-approach-yielded-frame {
  padding-top: 30px;
  padding-bottom: 30px;
}
.Human-Centric-Security-frame {
  padding: 30px 0px;
}
.Human-Centric-Security-frame-top {
  display: inline-block;
  width: 100%;
}
.Human-Centric-Security-frame-top-left {
  width: 100%;
}
.Human-Centric-Security-frame-top-right {
  width: 100%;
  padding-left: 0px;
}
.Human-Centric-Security-frame-top-left h3 {
  font-size: 36px;
}
.Human-Centric-Security-frame-top-left h5 {
  font-size: 22px;
}
.Human-Centric-Security-frame-top-left h5 br{
  display: none;
}
.Human-Centric-Security-frame-top-right p {
  margin: 0px;
  margin-top: 30px;
}
.Inspired-by-Various-Disciplines {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
}
.Inspired-by-Various-Disciplines-left {
  width: 100%;
  margin-right: 0px;
}
.Inspired-by-Various-Disciplines-right {
  width: 100%;
}
.Eliminate-img img{
  display: none;
}
.Transforming-Cybersecurity-Investigations {
  padding: 30px 0px;
}
.Transforming-Cybersecurity-Investigations-top h2 {
  font-size: 30px;
}
.Transforming-Cybersecurity-Investigations-top h3 {
  font-size: 20px;
  margin-top: 10px;
}
.Transforming-Cybersecurity-Investigations-top p {
  margin-top: 25px;
}
.Transforming-Cybersecurity-Investigations-top h6 {
  font-size: 18px;
  margin-bottom: 45px;
}
.Transforming-Cybersecurity-Investigations-middle ul {
  display: flex;
    flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0px !important;
  justify-content: space-around;
}
.Transforming-Cybersecurity-Investigations-middle ul li {
  width: 45%;
}
.modernsoc-page-new .Benefits-of-mdr-frame {
  padding-bottom: 40px;
}
.Does-it-Work-frame{
  padding: 30px 0px;
}
.Does-it-Work-frame-middle-left h6 br{
  display: none;
}
.Our-MDR-process-two{
  padding-top: 40px;
}
.Callum_Golding_frame_about-middle-left h5 {
  margin-bottom: 30px;
}
.Callum_Golding_frame_about-middle-left ul li h4{
  margin-top: 10px;
  font-size: 14px;
}
.Our-Values-middle-section-main-middle-right ul li{
  padding-left: 20px;
}
.cder-ca-slider.home-tston .carousel.carousel-slider .control-arrow{
  bottom: auto;
  top: -60px;
}
.cder-ca-slider.home-tston{
 padding-top: 50px;
} 
.testimonial-frame.desktop{
  padding-bottom: 40px;
}
.testimonial-frame-heading-main h3{
  font-size: 22px;
  margin-bottom:40px;
}
.carousel .slider-wrapper.axis-horizontal .slider .slide:nth-child(1) .testimonial-frame-right{
 display: none;
}
.carousel .slider-wrapper.axis-horizontal .slider .slide.selected:nth-child(1) .testimonial-frame-right{
  display: block;
 }
 .carousel .slider-wrapper.axis-horizontal .slider .slide:nth-child(2) .testimonial-frame-right{
  display: none;
 }
 .carousel .slider-wrapper.axis-horizontal .slider .slide.selected:nth-child(2) .testimonial-frame-right{
   display: block;
  }
  .carousel .slider-wrapper.axis-horizontal .slider .slide:nth-child(3) .testimonial-frame-right{
    display: none;
   }
   .carousel .slider-wrapper.axis-horizontal .slider .slide.selected:nth-child(3) .testimonial-frame-right{
     display: block;
    }
    .carousel .slider-wrapper.axis-horizontal .slider .slide:nth-child(4) .testimonial-frame-right{
      display: none;
     }
     .carousel .slider-wrapper.axis-horizontal .slider .slide.selected:nth-child(4) .testimonial-frame-right{
       display: block;
      }

      .Menu-underLink-heading h4{
        font-size: 14px;
      }
      .Menu-underLink-heading p{
        font-size: 13px;
      }
      .about-bannner-contact {
        position: absolute;
        top: 48%;
        left: 7%;
        transform: inherit;
    }
    .about-bannner-contact.Thank.you.for {
      position: absolute;
      top: 29%;
      left: 10%;
  }
  .about-bannner-contact.Thank.you.for h3{
    font-size: 18px;
    margin-top: 50px;
    text-transform: capitalize;
  }
} 



@media all and (min-width:1630px) and (max-width:2200px){
  .Eliminate-img img{
    width: 55%;
  }
}