@font-face{
  font-family:Poppins-Bold;
  src:url('../app/fonts/Poppins-Bold.ttf');
}
@font-face{
  font-family:Poppins-Light;
  src:url('../app/fonts/Poppins-Light.ttf');
}
body{
  padding: 0px;
  margin: 0px;
  font-family:Poppins-Light !important;
  font-size: 16px !important;
}
h1, h2, h3, h4 { 
  font-family:Poppins-Bold !important;
 }
 p{
  font-family:Poppins-Light !important;
 }
ul{
  padding: 0px !important;
  margin: 0px !important;
}
li{
  list-style-type: none;
}
img{
  height: auto;
}
a{
  text-decoration: none !important;
}
header{
  position: relative;
}
.Strengthen-Your-Cyber-Defenses{
  position: absolute;
  top: 62px;
  width: 600px;
  top: 50%;
  left: 26%;
  transform: translate(-50%, -50%);
}
.Strengthen-Your-Cyber-Defenses h4{
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  width: 65%;
}
.Strengthen-Your-Cyber-Defenses p{
  color: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 50%;
  font-size: 19px;
}
footer{
  background: #efefef;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}
.navbar-main-frame{
  position: absolute;
  top: 0px;
  width: 100%;
}
.navbar-menu{
  display: flex;
  width: 100%;
  margin-top: 30px;
}
.logo-frame-header{
  width: 17%;
}
.header-menubar-middle{
  width: 55%;
}
.header-menubar-right{
  width: 28%;
  text-align: right;
}
.header-menubar-middle ul{
    display: flex;
    height: 100%;
    align-items: center;
}
.header-menubar-middle li{
  margin-right: 30px;
}
.header-menubar-middle li a{
  font-size: 20px;
    color: #fff;
}
.header-menubar-middle li a:hover{
  color:#eb5e26
}
.header-menubar-right a{
  color: #fff;
  text-transform: uppercase;
  border: 1.3px solid #eb5e26;
  padding: 10px 20px;
  border-radius: 30px;
  display: inline-block;
  margin-top: 10px;
}
.header-menubar-right a:hover{
  background: #eb5e26;
  color: #fff;
}
.footer-right-img{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 40%;
  overflow: hidden;
  height: 100%;
}
.footer-right-img img{
  width: 100%;
  height: auto;
}
.footer-middle{
  display: flex;
}
.footer-middle .footer-left{
  width: 16%;
}
.footer-middle .footer-left img{
  width: 130px;
  height: auto;
}
.footer-middle .footer-left:nth-child(1){
  width: 23%;
}
.footer-left ul li{
  margin-bottom: 20px;
}
.footer-left ul li a{
  color: #000;
  font-family: Poppins-Bold !important;
}
.testimonial-frame{
  padding: 120px 0px;
}
.testimonial-frame-middle{
  display: flex;  
}
.testimonial-frame-left{
  width: 20%;
}
.testimonial-frame-left img{
 width: 100%;
}
.testimonial-frame-left h4{
  font-weight: bold;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.testimonial-frame-left p{
  font-size: 16px;
  margin-bottom: 0px;  
}
.testimonial-frame-right{
  width: 80%;
  padding-left: 5%;
}
.testimonial-frame-right p{
  line-height: 26px;
  margin-bottom: 0px;
}
.Ignite-Cybersecurity-frame {
 position: relative;  
}
.Ignite-Cybersecurity-frame .container{
  
 }
.Ignite-Cybersecurity-frame-img img{
  width: 100%;
}
.Ignite-Cybersecurity-frame-cont{
  position: absolute;
  top: 62px;
  width: 600px;
  top: 50%;
  left: 26%;
  transform: translate(-50%, -50%);
}
.ho-heading{
  font-size: 36px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.br{
  display: block;
}
.Ignite-Cybersecurity-frame-cont p{
  color: #fff;
  margin-top: 50px;
  margin-bottom: 0px;
}
.Ignite-Cybersecurity-frame-cont p a{
  background: #eb5e26;
    color: #fff;
    text-transform: uppercase;
    padding: 11px 30px;
    display: inline-block;  
    margin-top: 10px;
}
.Managed-Detection-frame{
  background: #000;
  padding: 80px 0px;
}
.Managed-Detection-frame-middle{
  display: flex;
  margin: 60px 0px;
}
.Managed-Detection-frame-middle-left{
  width: 50%;
  padding-right: 10%; 
}
.Managed-Detection-frame-middle-left h5{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}
.Managed-Detection-frame-middle-left p{
  color:#fff;
}
.know-more a{
    background: #eb5e26;
    text-transform: uppercase;
    color: #fff;
    padding: 7px 15px;
    display: inline-block;
    font-size: 14px;
}  
.Excellence-in-Three-Steps-top{
  display: flex;
}
.Excellence-in-Three-Steps-top-left{
  width: 25%;
}
.Excellence-in-Three-Steps-top-left h3{
  color: #000;
}
.Excellence-in-Three-Steps-top-right{
  width: 70%;
  margin-left: 5%;
}
.Excellence-in-Three-Steps-top-right p{
    font-size: 20px;
    line-height: 32px;
}
.Eliminate-Complexity-main{
  display: flex;
  margin: 60px 0px;
}
.Eliminate-Complexity-main-left{
  width: 35%;
  padding-right: 5%;
}
.Eliminate-Complexity-main-left:last-child{
  
}
.Eliminate-Complexity-main-left h2{
    color: #eb5e26;
    font-weight: bold;
    font-size: 36px;
}
.Eliminate-Complexity-main-left h4{
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    width: 45%;
    margin-bottom: 20px;
}
.Excellence-in-Three-Steps{
  padding: 80px 0px;
}

.Ignite-Cybersecurity-frame.Eight-Framework{
  
}
.Ignite-Cybersecurity-frame.Eight-Framework ul{
  margin: 20px 0px !important;
  margin-bottom: 40px !important;
}
.Ignite-Cybersecurity-frame.Eight-Framework ul li{
    color: #fff;
    position: relative;
    margin-bottom: 10px;
    margin-left: 25px !important;
    font-size: 14px;
}
.Ignite-Cybersecurity-frame.Eight-Framework ul li:before {
    color: #eb5e26;
    content: "■";
    display: inline-block;
    font-weight: 700;
    margin-left: -25px;
    position: absolute;
    width: 1em;
    font-size: 22px;
    top: -7px;
}
.Ignite-Cybersecurity-frame.Eight-Framework .Ignite-Cybersecurity-frame-cont{
  left: 70%;
  width: 680px;
}
.Ignite-Cybersecurity-frame.Eight-Framework .Ignite-Cybersecurity-frame-cont p{
  margin-top: 10px;
}
.Security-Posture-frame{
    background: #efefef;
    padding: 80px 0px;
}
.Security-Posture-frame-top{
  display: flex;
}
.Security-Posture-frame-top-left{
  width: 50%;
}
.Security-Posture-frame-top-left h4{
  font-size: 36px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  width: 80%;
}
.Security-Posture-frame-top-right{
  width: 50%;
}
.Security-Posture-frame-top-right p{
  font-size: 20px;
  width: 80%;
}
.Security-Posture-frame-bottom ul{
  display: flex;
  flex-wrap: wrap;
  margin-top: 85px !important;
  width: 90%; 
} 
.Security-Posture-frame-bottom ul li{
  width: 33%;
  margin-bottom: 40px;
  padding-right: 15%;
}
.Security-Posture-frame-bottom ul li img{
    width: 55px;
    margin-bottom: 16px;
}
.Security-Posture-frame-bottom ul li h4{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

.Empowering-Organizations-top-h{
  padding: 80px 0px;
  position: relative;  
  overflow: hidden;
}
.Empowering-Organizations-top-h-middle h3{
  font-size: 36px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
.Empowering-Organizations-top-h-middle p{
  width: 55%;
  margin: 45px 0px;
}
.Empowering-right-img{
  position: absolute;
  right: 0px;
  bottom: -258px;
  height: 100%;
  overflow: hidden;
  width: 70%;
}
.Empowering-right-img img{
  width: 80%;
  float: right;
}
.header-video video{
  width: 100%;
}


/* about us page Start*/
.Inner-page-banner-frame img{
  width: 100%; 
}
.About-us-page .Empowering-right-img {
  bottom: 0px;
  width: 62%;    
}
.About-us-page .Empowering-right-img img{
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.About-us-page .Empowering-Organizations-top-h-middle p {
  width: 40%;
} 
.About-us-page .Empowering-Organizations-top-h{
  padding-bottom: 0px;
}
.About-us-page .header-about{
  font-weight: normal;
  text-transform: capitalize;
  font-size: 34px;
  margin-top: 5px;
  font-family: Poppins-Light !important;
}
.Partners-about-sect{
  background: #0a0e0f;
  padding: 60px 0px;
}
.Partners-about-sect h3{
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.Partners-about-sect-middle{
  display: flex;
  align-items: center;
  padding-bottom: 65px;
  border-bottom: 1px solid #707070;
  margin-bottom: 50px;
}
.Partners-about-sect-middle-left{
  width: 20%;
  margin-right: 6%;
}
.Partners-about-sect-middle-left img{
  width: 100%;
}
.Partners-about-sect-middle-right{
  width: 74%;
}
.Partners-about-sect-middle-right  h4{
  color: #fff;
  margin-bottom: 30px;
  margin-top: 0px;
}
.Partners-about-sect-middle-right  h4 span{
    display: block;
    font-weight: normal;
    font-size: 18px;
    margin-top: 8px;
}
.Partners-about-sect-middle-right  p{
  color: #fff;
  margin-bottom: 0px;
}
.Partners-about-sect-middle:nth-child(3){
  margin-bottom: 0px;
  border-bottom: 0px solid #707070;
  padding-bottom: 40px;
}
.team-section-about-page{
  padding: 70px 0px;
}
.team-section-about-page h3{
  font-size: 36px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.team-section-middle{
  display: flex;
  justify-content: space-between; 
  margin-top: 60px;
}
.team-section-middle-inner{
  width: 30%;
}
.team-section-middle-inner img{
  width: 75%;
}
.team-section-middle-inner h4{
  font-weight: bold;
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 0px;
}
.team-section-middle-inner h5{
  margin-top: 10px;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 35px;
}
.team-section-middle:last-child{
  justify-content: left;
}
.team-section-middle:last-child .team-section-middle-inner{
  margin-right: 5%;     
}
.br.Commitment_Success{
  font-weight: normal;
  font-size: 30px;
  margin-top: 5px;
  text-transform: initial;
  font-family: Poppins-Light !important;
}
.Unique-Approach-Simple-frame{
  padding: 70px 0px;
}
.Unique-Approach-heading h3{
  font-size: 36px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
.Unique-Approach-heading h3 span{
    text-transform: initial;
    font-weight: normal;
    display: block;
    margin-top: 5px;
    font-size: 36px;
    font-family: Poppins-Light !important;
}
.Unique-Approach-Simple-middle{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.Unique-Approach-Simple-middle-left{
  width: 30%;
}
.Unique-Approach-Simple-middle-left h4{
  font-weight: bold;
  font-size: 18px;
  position: relative;
}
.Unique-Approach-Simple-middle-left h4::after{
    content: '';
    border-bottom: 3px solid #eb5e26;
    width: 120px;
    height: 10px;
    position: absolute;
    left: 0px;
    bottom: -15px;
}
.Unique-Approach-Simple-middle-left ul{
  padding: 0px !important;
  margin-top: 50px !important;
}
.Unique-Approach-Simple-middle-left ul li{
  position: relative;
  margin-bottom: 25px;
}
.Unique-Approach-Simple-middle-left ul li:before {
  color: #eb5e26;
    content: ".";
    display: inline-block;
    font-weight: 700;
    margin-left: -8px;
    position: absolute;
    width: 1em;
    font-size: 22px;
    top: -12px;
}
.Our-Values-middle-section-main{
  padding: 80px 0px;
  background: #efefef;
}
.Our-Values-middle-section-main-middle{
  display: flex;
  align-items: center;
}
.Our-Values-middle-section-main-middle-left{
  width: 40%;
}
.Our-Values-middle-section-main-middle-right{
  width: 50%;
}
.Our-Values-middle-section-main-middle-left img{
  width: 100px;
}
.Our-Values-middle-section-main-middle-left h4{
  font-size: 36px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}
.Our-Values-middle-section-main-middle-left h5{
  font-size: 24px;
  line-height: 35px;
}
.Our-Values-middle-section-main-middle-right ul{

}
.Our-Values-middle-section-main-middle-right ul li{
  position: relative;
  margin-bottom: 20px;
}
.Our-Values-middle-section-main-middle-right ul li span{
  font-family: Poppins-Bold !important;
}
.Our-Values-middle-section-main-middle-right ul li:before {
  color: #eb5e26;
  content: "■";
  display: inline-block;
  font-weight: 700;
  margin-left: -25px;
  position: absolute;
  width: 1em;
  font-size: 22px;
  top: -7px;
}
.arrow-top-top{
  position: absolute;
  right: 26%;
  background: #eb5e26;
  border: 0px;
  color: #fff;
  padding: 15px 20px;
  bottom: 75px;
  text-transform: capitalize;
}
.arrow-top-top img{
  width: 20px;
}
.Callum_Golding_frame_about{
  padding: 70px 0px;
}
.Callum_Golding_frame_about-middle{
  display: flex;
  justify-content: space-between;
}
.Callum_Golding_frame_about-middle-left{
  width: 43%;
}
.Callum_Golding_frame_about-middle-left h3{
  font-size: 36px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.Callum_Golding_frame_about-middle-left h5{
  margin-bottom: 60px;
}
.Callum_Golding_frame_about-middle-left h5 span{
  font-weight: bold;
}
.Callum_Golding_frame_about-middle-left ul{
  display: flex;
  justify-content: space-between;
}
.Callum_Golding_frame_about-middle-left ul li{
 width: 46%;
}
.Callum_Golding_frame_about-middle-left ul li img{
  width: 100%;
}
.Callum_Golding_frame_about-middle-left ul li h4{
  font-weight: bold;
  margin-top: 15px;
  font-size: 18px;
}
.Callum_Golding_frame_about-middle-right{
  width: 47%;
}
.Unlocking-the-Full-Potential{
  padding: 80px 0px;
  background: #efefef;
}
.Unlocking-the-Full-Potential-middle{
  display: flex;
  justify-content: space-between;
}
.Unlocking-the-Full-Potential-middle-left{
  width: 45%;
}
.Unlocking-the-Full-Potential-middle-left img{
  width: 120px;
  margin-bottom: 20px;
}
.Unlocking-the-Full-Potential-middle-left h3{
  font-size: 36px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
.Unlocking-the-Full-Potential-middle-left h5{
  font-weight: normal;
  font-size: 26px;
}
.Unlocking-the-Full-Potential-middle-left p{
  margin-top: 30px;
}
.about-bannner-contact{
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  width: 100%;  
}
.about-bannner-contact h3{
  font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    font-family: Poppins-Light !important;
}
.Partners-about-sect-middle-right h4 span{
  font-family: Poppins-Light !important;
  font-size: 20px;
}
.Empowering-Organizations-top-h-middle{
  margin-bottom: 80px;
}